<!-- @format -->
<%- contentFor("linkCss") %>
<link rel="stylesheet" href="/assets/css/myproject.css" />
<script type="module">
    const updateInput = document.querySelector("#imageProject")
    const previewImage = document.querySelector(".preview-image")
    fileInput(previewImage.src)

    updateInput.addEventListener("change", (event) => {
        const newImage = URL.createObjectURL(updateInput.files[0])
        previewImage.src = newImage

    })

    function fileInput(srcImg) {
        fetch(srcImg).then(response => response.blob()).then(response =>{
            let sourceImage = srcImg.split("/")
                sourceImage = sourceImage[sourceImage.length - 1]
                
                sourceImage = sourceImage.replaceAll("%20", " ")

            let file = new File([response], sourceImage,{type:"image/jpeg", lastModified:new Date().getTime()}, 'utf-8');
             let container = new DataTransfer(); 
            container.items.add(file);
            updateInput.files = container.files;
        })
    }
</script>


<%- contentFor("body") %>
<div class="container-project">
    <div class="add-project">
        <h1>update Project</h1>


        <form action="/project/<%= Project._id %>?_method=PUT" method="post" enctype="multipart/form-data">
            <div>
                <label for="name">Project Name</label>
                <input type="text" name="name" id="project" value="<%= Project.name %>" />
            </div>
            <div class="date-project">
                <span>
                    <label for="start-date">start-date</label>
                    <input type="date" name="startDate" id="start-date" value="<%= Project.startDate  %>" />
                </span>
                <span>
                    <label for="end-date">end-date</label>
                    <input type="date" name="endDate" id="end-date" value="<%= Project.endDate  %>" />
                </span>
            </div>
            <div>
                <label for="description">description</label>
                <textarea name="description" id="description"><%= Project.description  %></textarea>
            </div>
            <div class="input-technologi">
                <div>Technologies</div>
                <div class="checkbox-technologi">
                    <span>
                        <input type="checkbox" name="checkNode" id="node"
                            <%= Project.checkNode == 'on' ? "checked" : ""  %> />
                        <label for="node">Node Js</label>
                    </span>
                    <span>
                        <input type="checkbox" name="checkJavascript" id="javascript"
                            <%= Project.checkJavascript == 'on' ? "checked" : ""  %> />
                        <label for="javascript">Javascript</label>
                    </span>
                    <span>
                        <input type="checkbox" name="checkReact" id="react"
                            <%= Project.checkReact == 'on' ? "checked" : ""  %> />
                        <label for="react">React Js</label>
                    </span>
                    <span>
                        <input type="checkbox" name="checkSocket" id="socket"
                            <%= Project.checkSocket == 'on' ? "checked" : ""  %> />
                        <label for="socket">Socket.io</label>
                    </span>
                </div>
            </div>
            <div>
                <label for="imageProject">Upload Image</label>
                <input type="file" id="imageProject" name="imageProject"
                    data-default-file="/assets/myproject/critiano ronaldo  - 1722619265778.jpeg %>" required />
                <label for="imageProject" class="preview-image-form ">
                    <img src="/<%= Project.imageProject  %>" alt="image-before" class="preview-image rounded-2 mt-3">
                </label>
            </div>
            <div class="container-submit">
                <input type="submit" value="update" id="submit-project" />
            </div>
        </form>
    </div>

    <%- contentFor("linkJs") %>